/*Resets*/
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    padding-bottom: 40rem;
}

html{
    font-size: 62.5%; /*1rem == 10px*/
    font-family: "Montserrat";
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

:root{
    --cor1: #fff;
    --cor2: #ccc;
    --cor3: #888;
    --cor4: #444;
    --cor5: #000;
    --cor6: #B28756;
}

a{
    text-decoration: none;
    color: var(--cor1);
}

.dourado{
    color: var(--cor6);
}

.bg-black{
    background-color: #000;
}

.bg-silver{
    background-color: #888;
}

/*Cabeçalho*/
header{
    background-color: var(--cor5);
    border-bottom: 0.4rem solid var(--cor5);
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    height: 11rem;
    align-items: center;
}

.logo{
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    background-color: var(--cor6);
    text-align: center;
    line-height: 5rem;
    font-weight: 700;
    font-size: 1.3rem;
}

nav ul{
    display: flex;
    margin: 0;
}

nav ul li{
    padding: 1.5rem;
    font-size: 1.3rem;
    list-style-type: none;
    color: var(--cor1);
    text-transform: uppercase;
    font-weight: 700;
}

nav ul a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu, header nav, header ul, header a{
    height: 100%;
}

nav a:hover{
    border-bottom: 0.4rem solid var(--cor6);
}



/*Banner*/
.banner{
    background-image: url(../../media/complementos/bg.jpg);
    height: calc(100vh - 11rem);
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner .sliders{
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    display: flex;
    width: 350vw;
    transition: all 0.4s linear;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--cor1);
}

h1{
    font-size: 7rem;
    text-align: center;
    margin: 1rem 0;
    line-height: 6.8rem;
}

.tel-banner{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

            /*Configurando o botao geral*/
.botao{
    padding: 2rem 5rem;
    background-color: var(--cor6);
    font-size: 1.7rem;
    border-radius: 3rem;
    font-weight: 600;
}

    
            /*Configurando a navegação do slide*/
.banner .sliders-pointers{
    display: flex;
    position: absolute;
    bottom: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.banner .slider-pointer{
    border: 0.3rem solid var(--cor6);
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    margin: 0 0.4rem;
    cursor: pointer;
}

.banner .slider-pointer.selected{
    background-color: var(--cor6);
}

/*Configuração das partes gerais*/
.geral{
    padding: 5rem 0;
}

.section-body{
    display: flex;
}

.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.bg-black{
    color: #fff;
}

.sub-title{
    font-size: 1.5rem;
    font-size: 500;
    margin: 0.6rem 0 4rem 0;
    text-transform: uppercase;
    color: var(--cor3);
    font-weight: 600;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
    align-items: center;
}


/*About us*/
.text-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutus-text{
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.text-button, .aboutus-image{
    flex: 1;
}

.aboutus-image img{
    width: 85%;
    box-shadow: 0 0 2rem #000;
}

.aboutus-image{
    text-align: center;
}


/*Services*/
.service{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
    border-right: 0.2rem solid var(--cor4);
}

.service-title{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 2rem 0 0.5rem 0;
}

.service-desc{
    text-align: center;
    color: var(--cor3);
    font-size: 1.2rem;
}

.section-body div.service:first-child{
    border-left: 0.2rem solid var(--cor4);
}

.service img{
    height: 6rem;
}


/*Our projects*/

.ourprojects-menu li{
    color: #000;
    padding: 2rem;
}

.ourprojects-menu a{
    border-bottom: 0.4rem solid var(--cor2);
}

.ourprojects-menu{
    border: 0.2rem solid var(--cor4);
    text-align: center;
    padding: 0 3rem;
    border-radius: 4rem;
    background-color: var(--cor2);
}

.ourprojects-menu ul{
    padding: 0;
}

.ourprojects-photos{
    display: flex;
    width: 100%;
    max-width: 114rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}

.ourprojects-photos .photo-mascara{
    width: 26rem;
    height: 15rem;
    text-align: center;
    margin: 2rem 2rem 0 0 ;
    position: relative;
}

.ourprojects-photos img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.mascara{
    width: inherit;
    height: inherit;
    background-color: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    box-sizing: border-box;
    padding: 2rem;
    cursor: pointer;
}

.mascara-title{
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;
}

.mascara.desc{
    text-align: center;
}

.photo-mascara:hover .mascara{
    display: flex;
}


/*Our team*/
.mascara-bg{
    background-image: url(../../media/complementos/bg.jpg);
}

.mascara-bg .geral{
    background-color: rgba(0,0,0,0.8);
}

.mascara-bg .sliders{
    display: flex;
    transition: all 0.4s linear;
}

.mascara-bg .slide{
    width: 36rem;
    background-color: white;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 4rem 2rem;
}

.mascara-bg div.slide:first-child{
    margin-left: 1.5rem;
}

.hidden-slide{
    overflow-x: hidden;
    display: flex;
}

.member-clients-name{
    color: #000;
    font-weight: 600;
    font-size: 2.5rem;
}

.member-clients-ocupation{
    color: #000;
    font-size: 1.4rem;
    margin-bottom: 4rem;
}

.member-clients-photo{
    width: 20rem;
    object-fit: cover;
    margin-bottom: 4rem;
}

.member-icons{
    display: flex;
}

.container-icon{
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: var(--cor3);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

div.container-icon:first-child{
    margin-left: 0.5rem;
}

.icons-itself{
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

.mascara-bg .sliders-pointers{
    display: flex;
    align-self: center;
    margin-top: 2rem;
}

.mascara-bg .slider-pointer{
    border: 0.3rem solid var(--cor6);
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    margin: 0 0.4rem;
    cursor: pointer;
}

.mascara-bg .slider-pointer.selected{
    background-color: var(--cor6);
}

.hidden-slide{
    overflow-x: hidden;
    display: flex;
}

.mascara-bg .section-body{
    flex-direction: column;
}



/*Happy Clients*/

.hidden-happy-clients .sliders{
    display: flex;
    width: 360rem;
    transition: all 0.4s linear;
    margin-bottom: 3rem;
}

.hidden-happy-clients .slide{
    width: 114rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20rem;
}

.member-clients-photo img{
    width: inherit;
}

.hidden-happy-clients{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.client-speech{
    text-align: center;
    font-size: 1.5rem;
    color: var(--cor3);
}

.hidden-happy-clients .sliders-pointers{
    display: flex;
    align-self: center;
    margin-top: 2rem;
}

.hidden-happy-clients .slider-pointer{
    border: 0.3rem solid var(--cor6);
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    margin: 0 0.4rem;
    cursor: pointer;
}

.hidden-happy-clients .slider-pointer.selected{
    background-color: var(--cor6);
}



